body {
  font-family: 'Montserrat';
  background-color: #f2f2f2;
}

h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

.form {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  padding: 50px 80px;
  border-radius: 30px;
}

.input-container {
  margin-top: 20px;
}

input,
textarea {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 20px;
  min-width: 100px;
}

#logo {
  width: 300px;
  margin: 0;
}

#logo-small {
  width: 120px;
}

.generate-button {
  background-color: black;
  outline: none;
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

.submit {
  width: 200px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn {
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid black;
  width: 250px;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.header-wrapper {
  display: flex;
}

.description-wrapper {
  margin-left: 20px;
}

.subjects-wrapper {
  margin: 20px;
}

.feedback-item {
  background-color: white;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.feedback-list {
  display: flex;
}
